body {
  color: #777;
}

code {
  color: #f44336;
}

.header {
  margin: 0;
  color: #333;
  text-align: center;
  padding: 2.5em 2em 0;
}

.header h1 {
  color: #4b4ba3;
  margin: 0.2em 0 0.5em;
  font-size: 3em;
  font-weight: 300;
}

.header h2 {
  font-weight: 300;
  color: #9a9a9a;
  padding: 0 0 1em;
  margin-top: 0;
}

.content,
.content-footer {
  margin: 0 auto;
  max-width: 800px;
}

.content {
  margin: 0 auto;
  padding: 2em 2em 4em;
  max-width: 800px;
  margin-bottom: 10px;
  line-height: 1.6em;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.content-subhead {
  margin: 50px 0 20px 0;
  font-weight: 300;
  color: #4b4ba3;
}

.probe-results h3 {
  float: left;
}

.button-xlarge {
  font-size: 125%;
}

.button-warning {
  display: block;
  margin: auto;
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #fc6d26;
}

.probe-browser h3 {
  margin-left: 2em;
}

@media screen and (max-width: 48em) {
  .probe-browser h3 {
    margin-left: 0;
  }
}

.content-footer a {
  color: #4b4ba3;
  text-decoration: none;
}

.content-footer a:hover {
  color: #5b5bbd;
  border-bottom: 1px solid;
}

.content-footer .author {
  float: left;
}

.content-footer .repo {
  float: right;
}

.browser-chrome .logo-chrome,
.browser-firefox .logo-firefox,
.browser-safari .logo-safari,
.browser-opera .logo-opera,
.browser-edge .logo-edge,
.browser-ie .logo-ie {
  display: inline-block;
}

body:not([class*="browser-"]) .logo-unknown-browser {
  display: inline-block;
}

.platform-linux .logo-linux,
.platform-windows .logo-windows,
.platform-macos .logo-macos,
.platform-android .logo-android,
.platform-ios .logo-ios {
  display: inline-block;
}

body:not([class*="platform-"]) .logo-unknown-platform {
  display: inline-block;
}

/* Logos */

.logo {
  display: none;
  height: 64px;
  width: 64px;
  margin-left: 10px;
  background-position: left center;
  background-repeat: no-repeat;
}

.logo-chrome {
  background-image: url(assets/logo_chrome.png);
}

.logo-firefox {
  background-image: url(assets/logo_firefox.png);
}

.logo-safari {
  background-image: url(assets/logo_safari.png);
}

.logo-opera {
  background-image: url(assets/logo_opera.png);
}

.logo-edge {
  background-image: url(assets/logo_edge.png);
}

.logo-ie {
  background-image: url(assets/logo_ie.png);
}

.logo-unknown-browser {
  background-image: url(assets/logo_unknown_browser.png);
}

.logo-linux {
  background-image: url(assets/logo_linux.png);
}

.logo-windows {
  background-image: url(assets/logo_windows.png);
}

.logo-macos {
  background-image: url(assets/logo_macos.png);
}

.logo-android {
  background-image: url(assets/logo_android.png);
}

.logo-ios {
  background-image: url(assets/logo_ios.png);
}

.logo-unknown-platform {
  background-image: url(assets/logo_unknown_platform.png);
}
